@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

/* .container {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px 250px;
    grid-template-rows: 150px;
    grid-gap: 2rem;
} */
/* ABOVE: or to display 'grid-template-columns' using 1
    line, you could use this code instead: 
    grid-template-columns: repeat (5,250px) */

/* .container {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
} */

/*.container {
   display: grid;
    grid-template-columns: 1fr 3fr 2fr;
}

.item {
    text-align: center;
    padding-top: 65px;
}

.item-1 {
    grid-column: 1/4;
    grid-row: 3/4;
}

.item-2 {
    grid-row: 1/3;
}

.item-5 {
    grid-column: 2/3
}

.color-1 {
    background-color: antiquewhite;
}

.color-2 {
    background-color: aqua;
}

.color-3 {
    background-color: aquamarine;
}

.color-4 {
    background-color:blue
}

.color-5 {
    background-color: brown;
} */

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-rows: 9rem 9rem 9rem;
    grid-gap: 4px;
    padding-bottom: 75px;
}

.item {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.item-1 {
    background-color: aquamarine;
    grid-column: 1/3;
}

.item-2 {
    background-color: brown;
    grid-row: 2/4;
}

.item-2 img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 9px;
    transition: .2s;
}

.item-2 img:hover {
    cursor: pointer;
    animation: pulse 0.5s ease-in infinite;
}

.item-3 {
    background-color: blueviolet;
}

.item-4 {
    background-color: blue;
    grid-column: 3/4;
    grid-row: 1/4;
}

.item-5 {
    background-color: red;
    grid-column: 2/3;
}

.text {
    color: white;
}

@keyframes pulse{
    25%  {transform: scale(0.9);}
    75%  {transform: scale(1.1);}
  }


.itembox2 {
    display: grid;
}

.item1 {
    background-color: red;
}

.item2 {
    background-color: green;
}

.item3 {
    background-color: aqua;
}

.item4 {
    background-color: blanchedalmond;
}

.item5 {
    background-color: yellow;
}